
.box > h1{
    font: normal normal 400 22px/26px sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-width:fit-content;
    border: 1px solid var(--unnamed-color-707070);
    background: #f2f2f2 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    padding: 2%;
    margin-bottom: 0;
    margin-top: 120px;
    justify-content: center;
    align-items: center;

}

@media screen and (min-width: 1000px) {
    .box {
    width: 65%;
    left: 8%;
    }

}