.search{

  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: fit-content;
  min-height: 350px;
  max-height: max-content;
  padding: 3%;
  position: absolute;
  display: grid;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

  .search > h1{
    font: normal normal 500 20px/22px sans-serif;
    width: fit-content;
    padding: 1%;
    margin: 0 auto;
    margin-bottom: 5px;
    
  }

    label{
        font: normal normal normal 16px/22px sans-serif;
        margin-top: 3%;
 }
.input{
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 3px;
    height: 35px;
    margin-top: 10px;
    width: 100%;
 
    background-color: #FFFFFF;
}



.box {
    max-width: 550px;
    border-radius: 5px;
    overflow: auto;
    background-color: #d1e7dd;
    margin-bottom: 20px;
    
  }

.table{
height: 100%;
width: 100%;
margin-bottom: 50px;


}
  
   td {
    border: 1px solid black;
    padding-left: 0.5rem;
    
  }
  
  th {
    padding-left: 0.5rem;
    padding-right: 4rem;
    writing-mode: sideways-rl;
    background-color: #bcd0c7;
  }

  @media screen and (min-width: 1000px){
    .search{
      left:180px;
    }
  }