

.title > h2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-top: 145px; 
    /* UI Properties */
    font: normal normal normal 20px/26px sans-serif;
    opacity: 1;
    color: #ffff;
    
}

.imgTop{
    width: 90px;
    position: absolute;
    top: -500px;
    right: 0;
    bottom: 0;
    left: 10%;
    margin: auto;
}

@media screen and (min-width: 1000px) {
    .title > h1 {
      left: 20%;
      top: 0;
    }
    .title > h2 {
        left: 20%;
        top: 0;
      }
}  