.background{
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 260px;
}

.container {
  display: flex;
  flex-wrap: row;
  justify-content: space-between;
  margin-top: 45%;
  margin-left: 230px;
  margin-right: 70px;
  padding-top: 3%;
  

}

.titleH2{
position: relative;
display: block;
height: fit-content;
margin-left: 5px;
margin-right: -58px;
margin-top: 0;
color:#3F8C84;
font: normal normal 600 24px/20px sans-serif;
writing-mode: vertical-rl;
transform: rotate(180deg);
text-orientation: sideways-right;

}

.card {
  width: 20%;
  background-color: #c1cccb86;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  
}

@media screen and (max-width: 1000px) {
  .card {
    width: 200px;
    margin: 5px;
    margin-top: 0;
  
  }
  .container{
    margin-top: calc(40% + 150px);
    margin-left: 80px;
    margin-right: 0;
    justify-content: center;
    
  }
 .titleH2{
  left:-55px;
 }

}

.image {
  width: 60%;
  height: auto;
  display: block;
  margin: auto;
  padding: 5%;

}

.title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
  font: normal normal 500 18px/20px sans-serif;
}

.text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  font: normal normal normal 14px/18px sans-serif;
}
