
.txtCard{
  height: 15vh;
  position: absolute;
  font: normal normal normal 20px/24px sans-serif;
  padding-top: 10px;
  margin-left: 100px;
  left: 50%;
  transform: translate(-50%);
  


}

.background{
  background-color: #f2f2f2;
  height: fit-content;
  top: 130px;
  height: max-content;
  padding-bottom: 5%;
  bottom: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 230px;
  margin-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;

}

.card {
  width: fit-content;
  padding: 2%;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: #ABD9AA solid;
  
}

@media screen and (max-width: 1025px) {
  .card {
    width: 140px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  
  .container{
    margin-top: 90px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5%;
    justify-content: center;
    
  }
  .txtCard{
    margin-left: 0;
  }

}

.image {
  width: 60%;
  height: auto;
  display: block;
  margin: auto;
  padding: 3%;

}

.title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
  font: normal normal 500 18px/20px sans-serif;
}

.text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  font: normal normal normal 14px/18px sans-serif;
}

@media screen and (max-width: 1023px) {
 .container{
  margin-top: 10%;
  padding-top: 15%;
  margin-right: 5px;
 }
}