.img {
  height: fit-content;
  width: 100%;
  border-radius: 10px;
}

.carouselInner {
  width: 70vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
  margin: auto;
  margin-top: calc(40vh - 120px );
  height: fit-content;
}

.imgTop{
  box-sizing: border-box;
  width: fit-content;
  height: 15vh;
  position: absolute;
  top: 22px;
  left: 200px;
  margin-left: 0 auto;
  margin-right: 0 auto;  
}

@media screen and (max-width: 1000px) {
  .carouselInner {
    width: 95%;
    left: 10px;
  }
  .imgTop{
      left: 10px;
    }
}