.loginform {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 350px;
  min-height: 350px;
  max-height: 450px;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-left: 45%;

  
}

.h1 {
  display: flex;
  position: relative;
  font: normal normal normal 26px/30px sans-serif;
  font-weight: 600;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
}

.h2 {
  margin-top: 20px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-bottom: 20px;
  font: normal normal normal 24px/22px sans-serif;


}

.form {
  display: flex;
  flex-direction: column;
}

.form > label {
  
  font: normal normal normal 14px/22px sans-serif;
}

.input[type="text"],
.input[type="password"] {
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10%;
  padding: 6px;
  height: 5%;
}

.button {

  background: #05F3DB 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 25px;
  padding: 10px;
  transition: all 0.3s ease;
  margin-top: 30px;
  text-decoration: none;
  text-align: center;
  font: normal normal bold 18px/22px sans-serif;
  color: #003B4A;

}

.button:hover {
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  color: #003B4A;

}

.input[type="password"],
      [type="text"]:focus {
  outline: none;
}

.forget {
  color: #595959;
  text-decoration: none;
  font-size: x-small;
  font: normal normal normal sans-serif;
  display: flex;
  justify-content: space-around;
}

.forget:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1025px){
  .loginform{
    left: 25px;
    right:15px;
    margin-left: 1%;
  }
}