.container {
    height: 25px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    z-index: 1;
    background: #3F8C84 0% 0% no-repeat padding-box;
    opacity: 1;

    

}

.container > h1{
    font: normal normal 500 18px/22px sans-serif;
    text-align: center;
    margin-top: 1px; 
    margin-left: 10%;
    opacity: 1;
    color: #ffff;
}