.footer {
    background: #3F8C84;
    opacity: 1;
    color: #fff;
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: auto;
    padding-bottom: 10px;
  }
  


.logo {
    position: absolute;
    top: -30px;
    right: 5px;
    width: 65px;
}
.txtFooter{
    font: normal normal 100 12px/14px sans-serif;
    margin-top: 15px;
}
@media (min-width: 1025px){
    .footer{
       padding-left: 200px;
    }
}