

.buttonEntrar {

  background: #05F3DB 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 25px;
  padding: 10px;
  transition: all 0.3s ease;
  margin-top: 30px;
  text-decoration: none;
  text-align: center;
  font: normal normal bold 18px/22px Segoe UI;
  color: #003c4b;
  position: absolute;
  top: 550px;
  left: 450px;
  z-index: 10;

}