



.title{
    color: #f2f2f2;
    position: relative;
    display: flex;
    top: 60px;
    padding: 1%;
    font: normal normal normal 26px/30px Segoe UI;
    font-weight: 600;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    background-color: #003B4A;
}